.footer-top {
  padding: 90px 0 110px 0;
  background-color: #d75d0e;
}
.footer-top-wrapper {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
    li {
      display: block;
      margin-bottom: 10px;
      text-align: center;
        a {
          font: 400 18px/36px 'Roboto';
          color: #ffffff;
        }
    }
}
.footer-bot {
  padding: 85px 0 200px 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(5, 24, 76, 0) 84%, rgba(6, 28, 91, 0) 100%), url("../images/subscribe-background.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
    a {
      font: 18px/24px 'Roboto';
      color: #f3f4f6;
    }
}